{{ 'follow-us.css' | asset_url | stylesheet_tag }}

<section class="follow-us">
  <div class="follow-us__wrapper">
    <div class="follow-us__top page-width">
      <div class="follow-us__text">
        <h2 class="follow-us__title">Follow us on Instagram</h2>
        <p class="follow-us__subtitle">Join our Instagram family today!</p>
      </div>

      <a class="follow-us__link" href="#" target="_blacnk">@VELUUTRA</a>
    </div>

    <div class="follow-us__marquee">
      <ul class="follow-us__marquee-list">
        <li class="follow-us__marquee-item">
          <img src="{{ 'marquee-1.jpg' | asset_url }}" width="470" height="470" alt="Marquee image" loading="lazy">
        </li>
        <li class="follow-us__marquee-item">
          <img src="{{ 'marquee-2.jpg' | asset_url }}" width="470" height="470" alt="Marquee image" loading="lazy">
        </li>
        <li class="follow-us__marquee-item">
          <img src="{{ 'marquee-3.jpg' | asset_url }}" width="470" height="470" alt="Marquee image" loading="lazy">
        </li>
        <li class="follow-us__marquee-item">
          <img src="{{ 'marquee-4.jpg' | asset_url }}" width="470" height="470" alt="Marquee image" loading="lazy">
        </li>

        <li class="follow-us__marquee-item">
          <img src="{{ 'marquee-1.jpg' | asset_url }}" width="470" height="470" alt="Marquee image" loading="lazy">
        </li>
        <li class="follow-us__marquee-item">
          <img src="{{ 'marquee-2.jpg' | asset_url }}" width="470" height="470" alt="Marquee image" loading="lazy">
        </li>
        <li class="follow-us__marquee-item">
          <img src="{{ 'marquee-3.jpg' | asset_url }}" width="470" height="470" alt="Marquee image" loading="lazy">
        </li>
        <li class="follow-us__marquee-item">
          <img src="{{ 'marquee-4.jpg' | asset_url }}" width="470" height="470" alt="Marquee image" loading="lazy">
        </li>
      </ul>

      <ul class="follow-us__marquee-list">
        <li class="follow-us__marquee-item">
          <img src="{{ 'marquee-1.jpg' | asset_url }}" width="470" height="470" alt="Marquee image" loading="lazy">
        </li>
        <li class="follow-us__marquee-item">
          <img src="{{ 'marquee-2.jpg' | asset_url }}" width="470" height="470" alt="Marquee image" loading="lazy">
        </li>
        <li class="follow-us__marquee-item">
          <img src="{{ 'marquee-3.jpg' | asset_url }}" width="470" height="470" alt="Marquee image" loading="lazy">
        </li>
        <li class="follow-us__marquee-item">
          <img src="{{ 'marquee-4.jpg' | asset_url }}" width="470" height="470" alt="Marquee image" loading="lazy">
        </li>

        <li class="follow-us__marquee-item">
          <img src="{{ 'marquee-1.jpg' | asset_url }}" width="470" height="470" alt="Marquee image" loading="lazy">
        </li>
        <li class="follow-us__marquee-item">
          <img src="{{ 'marquee-2.jpg' | asset_url }}" width="470" height="470" alt="Marquee image" loading="lazy">
        </li>
        <li class="follow-us__marquee-item">
          <img src="{{ 'marquee-3.jpg' | asset_url }}" width="470" height="470" alt="Marquee image" loading="lazy">
        </li>
        <li class="follow-us__marquee-item">
          <img src="{{ 'marquee-4.jpg' | asset_url }}" width="470" height="470" alt="Marquee image" loading="lazy">
        </li>
      </ul>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Follow us on Instagram",
  "settings": [],
  "presets": [
    {
      "name": "Follow us on Instagram"
    }
  ]
}
{% endschema %}
