{{ 'velutra-cards.css' | asset_url | stylesheet_tag }}

<section class="velutra-cards ">
  <div class="velutra-cards__wrapper page-width">
    <div class="velutra-cards__content">
      <h2 class="velutra-cards__title velutra-title">Gluten Free | Vegan | No Artificial Flavors or Additives.</h2>

      <ul class="velutra-cards__text-list">
        <li class="velutra-cards__text-item">
          <span class="icon">
            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4997 35C20.6609 35.0003 23.7632 34.1441 26.4768 32.5226C29.1905 30.901 31.4143 28.5745 32.9118 25.7904C34.4094 23.0062 35.1248 19.8683 34.9822 16.7101C34.8395 13.5519 33.844 10.4914 32.1015 7.85361L18.19 23.3119C17.5401 24.0341 16.6436 24.4869 15.6767 24.5812C14.7098 24.6755 13.7427 24.4044 12.9656 23.8214L6.6116 19.0556C6.19907 18.7461 5.92635 18.2855 5.85342 17.775C5.7805 17.2645 5.91335 16.7459 6.22274 16.3333C6.53214 15.9208 6.99274 15.648 7.50322 15.5751C8.0137 15.5022 8.53224 15.635 8.94477 15.9444L15.2988 20.7103L29.5817 4.84167C27.5125 2.86632 24.9907 1.42839 22.237 0.653765C19.4834 -0.12086 16.5818 -0.208553 13.7864 0.398363C10.9909 1.00528 8.3869 2.2883 6.20227 4.13508C4.01765 5.98186 2.31904 8.33609 1.25519 10.9916C0.191333 13.6472 -0.205332 16.5231 0.0999238 19.3675C0.40518 22.2119 1.40305 24.9381 3.00616 27.3074C4.60927 29.6767 6.76873 31.6168 9.29547 32.9579C11.8222 34.299 14.6392 35.0002 17.4997 35Z" fill="black"/>
            </svg>
          </span>
          <p>Gut Lining Repair</p>
        </li>

        <li class="velutra-cards__text-item">
          <span class="icon">
            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4997 35C20.6609 35.0003 23.7632 34.1441 26.4768 32.5226C29.1905 30.901 31.4143 28.5745 32.9118 25.7904C34.4094 23.0062 35.1248 19.8683 34.9822 16.7101C34.8395 13.5519 33.844 10.4914 32.1015 7.85361L18.19 23.3119C17.5401 24.0341 16.6436 24.4869 15.6767 24.5812C14.7098 24.6755 13.7427 24.4044 12.9656 23.8214L6.6116 19.0556C6.19907 18.7461 5.92635 18.2855 5.85342 17.775C5.7805 17.2645 5.91335 16.7459 6.22274 16.3333C6.53214 15.9208 6.99274 15.648 7.50322 15.5751C8.0137 15.5022 8.53224 15.635 8.94477 15.9444L15.2988 20.7103L29.5817 4.84167C27.5125 2.86632 24.9907 1.42839 22.237 0.653765C19.4834 -0.12086 16.5818 -0.208553 13.7864 0.398363C10.9909 1.00528 8.3869 2.2883 6.20227 4.13508C4.01765 5.98186 2.31904 8.33609 1.25519 10.9916C0.191333 13.6472 -0.205332 16.5231 0.0999238 19.3675C0.40518 22.2119 1.40305 24.9381 3.00616 27.3074C4.60927 29.6767 6.76873 31.6168 9.29547 32.9579C11.8222 34.299 14.6392 35.0002 17.4997 35Z" fill="black"/>
            </svg>
          </span>
          <p>Skin-Clearing Synbiotics</p>
        </li>

        <li class="velutra-cards__text-item">
          <span class="icon">
            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4997 35C20.6609 35.0003 23.7632 34.1441 26.4768 32.5226C29.1905 30.901 31.4143 28.5745 32.9118 25.7904C34.4094 23.0062 35.1248 19.8683 34.9822 16.7101C34.8395 13.5519 33.844 10.4914 32.1015 7.85361L18.19 23.3119C17.5401 24.0341 16.6436 24.4869 15.6767 24.5812C14.7098 24.6755 13.7427 24.4044 12.9656 23.8214L6.6116 19.0556C6.19907 18.7461 5.92635 18.2855 5.85342 17.775C5.7805 17.2645 5.91335 16.7459 6.22274 16.3333C6.53214 15.9208 6.99274 15.648 7.50322 15.5751C8.0137 15.5022 8.53224 15.635 8.94477 15.9444L15.2988 20.7103L29.5817 4.84167C27.5125 2.86632 24.9907 1.42839 22.237 0.653765C19.4834 -0.12086 16.5818 -0.208553 13.7864 0.398363C10.9909 1.00528 8.3869 2.2883 6.20227 4.13508C4.01765 5.98186 2.31904 8.33609 1.25519 10.9916C0.191333 13.6472 -0.205332 16.5231 0.0999238 19.3675C0.40518 22.2119 1.40305 24.9381 3.00616 27.3074C4.60927 29.6767 6.76873 31.6168 9.29547 32.9579C11.8222 34.299 14.6392 35.0002 17.4997 35Z" fill="black"/>
            </svg>
          </span>
          <p>Anti-Inflammatory Natural Ingredients</p>
        </li>
      </ul>

      {% for block in section.blocks %}
        {% if block.type == 'product' and block.settings.product %}
          {% assign product = block.settings.product %}
          <a class="velutra-cards__link btn btn-dark" href="{{ product.url }}">TRY VELUTRA</a>
        {% endif %}
      {% endfor %}
    </div>

    <ul class="velutra-cards__list">
      <li class="velutra-cards__item">
        <div class="velutra-cards__item-image">
          <img src="{{ 'velutra-bottle-1.jpg' | asset_url }}" width="790" height="500" loading="lazy">
        </div>
        <div class="velutra-cards__item-text">
          <h3>Synbiotic Formula’s</h3>
          <p>Designed for Repairing Gut Lining</p>
        </div>
      </li>

      <li class="velutra-cards__item">
        <div class="velutra-cards__item-image">
          <img src="{{ 'velutra-bottle-2.jpg' | asset_url }}" width="790" height="500" loading="lazy">
        </div>
        <div class="velutra-cards__item-text">
          <h3>L-Glutamine & Zinc Carnosine</h3>
          <p>Gut Lining Repair</p>
        </div>
      </li>

      <li class="velutra-cards__item">
        <div class="velutra-cards__item-image">
          <img src="{{ 'velutra-bottle-1.jpg' | asset_url }}" width="790" height="500" loading="lazy">
        </div>
        <div class="velutra-cards__item-text">
          <h3>Synbiotic Formula’s</h3>
          <p>Designed for Repairing Gut Lining</p>
        </div>
      </li>
    </ul>
  </div>
</section>

{% schema %}
{
  "name": "Sticky content",
  "blocks": [
    {
      "type": "product",
      "name": "Product link",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select a product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Sticky content",
      "blocks": [
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
